@import '../../assets/styles/variables';

.footer {
  position: fixed;
  // color: white;
  width: calc(100% - 56px);
  height: 30%;
  left: 50%;
  translate: -50%;
  max-width: 1440px;
  background-color: hsla(0, 0%, 100%, .9);
  padding: 20px;
  transition: all 1s ease-in-out;
  // background: rgb(0,0,0, 0.3);

  &.hide {
    bottom: -28%;

  }

  &.display {
    bottom: 2%;
  }

  &_control {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fa_icon {
      color: $main-btn-color;
    }

    & h5 {
      font-size: 18px;
      margin: 0px;
    }

  }

  &__content {
    display: flex;

    & .infoes_form {
      & .info_form {
        // width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;

        .info_title {
          width: 70px;
          padding: auto;
          margin: auto;
        }

        label {
          width: 70px;
          font-size: 14px;
          // color: white;
        }

        .info_input {
          width: 150px;
          height: 40px;
          font-size: 14px;
          text-indent: 30px;
          outline: none;
          border: none;
          display: flex;
          align-items: center;
          background-color: hsla(0, 0%, 100%, .9);

          // background: rgb(0,0,0, 0.52);
          // color: white;
          .rc-slider-handle {
            margin-top: 0 !important;
          }

        }

        .btn {
          box-shadow: 0px 0px 0px 7px rgb(255 255 255 / 20%);
          float: right;
          padding: 13px 32px;
          position: relative;
          border-radius: 30px;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          text-decoration: none;
          background: $main-btn-color;
          border: 2px solid $main-btn-hover-color;

          &:hover {
            box-shadow: 0px 0px 0px 7px rgb(255 255 255 / 10%);
          }
        }

      }
    }

    & .items_form {
      width: 80%;

      & .item_infoes {
        padding: auto;

        & .info {
          display: flex;
          margin-left: 25px;
          margin-top: 10px;
          margin-bottom: 15px;

          .label {
            width: 120px;
            margin-top: auto;
            margin-bottom: auto;

            label {
              margin-right: 15px;
              font-size: 14px;
              // color: white;
            }
          }

          .info_input {
            width: 140px;
            height: 30px;
            font-size: 14px;
            margin-top: auto;
            margin-bottom: auto;
            border: none;
            background: rgb(0, 0, 0, 0.52);
            display: flex;
            align-items: center;
            background-color: hsla(0, 0%, 100%, .9);
            // color: white;
            // border-bottom: 2px solid $main-btn-color;
            outline: none;

            .rc-slider-handle {
              margin-top: 0 !important;
            }
          }
        }
      }
    }
  }
}