@import '../../assets/styles/variables';

.footer {
  position: fixed;
  // color: white;
  width: calc(100% - 56px);
  height: 35%;
  left: 50%;
  translate: -50%;
  max-width: 1440px;
  background-color: hsla(0, 0%, 100%, .9);
  padding: 20px;
  padding-top: 0px;
  transition: all 1s ease-in-out;
  border-radius: 20px;
  // background: rgb(0,0,0, 0.3);

  &.hide {
    // bottom: calc(15px - 35%);
    bottom: 2%;
  }

  &.display {
    bottom: 2%;
  }

  &_top_toggle {
    width: 100%;
    padding-top: 20px;
    border: none;
    height: 30px;
    text-align: center;

    .fa_icon {
      color: rgb(0, 0, 0, 0.5);
    }
  }

  &_control {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fa_icon {
      color: $main-btn-color;
    }

    & h5 {
      font-size: 18px;
      margin: 0px;
    }

  }

  &__content {
    display: flex;

    & .infoes_form {
      & .info_form {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;

        .info_title {
          width: 100px;
          padding: auto;
          margin: auto;
        }

        label {
          width: 100px;
          font-size: 14px;
          // color: white;
        }

        .info_input {
          width: 150px;
          height: 40px;
          font-size: 14px;
          text-indent: 30px;
          outline: none;
          border: none;
          display: flex;
          align-items: center;
          background-color: hsla(0, 0%, 100%, .9);

          // background: rgb(0,0,0, 0.52);
          // color: white;
          .rc-slider-handle {
            margin-top: 0 !important;
          }

        }

        .btn {
          box-shadow: 0px 0px 0px 7px rgb(255 255 255 / 20%);
          float: right;
          padding: 13px 32px;
          position: relative;
          border-radius: 30px;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          text-decoration: none;
          background: $main-btn-color;
          border: 2px solid $main-btn-hover-color;

          &:hover {
            box-shadow: 0px 0px 0px 7px rgb(255 255 255 / 10%);
          }
        }

      }
    }

    & .items_form {
      width: 300px;

      & .item_infoes {
        padding: auto;

        & .info {
          display: flex;
          margin-left: 25px;
          margin-top: 10px;
          margin-bottom: 15px;
          justify-content: end;

          .label {
            width: 120px;
            margin-top: auto;
            margin-bottom: auto;

            label {
              margin-right: 15px;
              font-size: 14px;
            }
          }

          .info_input {
            width: 140px;
            height: 30px;
            font-size: 14px;
            margin-top: auto;
            margin-bottom: auto;
            border: none;
            background: rgb(0, 0, 0, 0.52);
            display: flex;
            align-items: center;
            background-color: hsla(0, 0%, 100%, .9);
            outline: none;

            .rc-slider-handle {
              margin-top: 0 !important;
            }

            &.button {
              border: 1px solid $main-btn-color;
              border-radius: 10px;
              justify-content: center;
              text-align: center;

            }
          }
        }
      }
    }

    & .itemlist_form {
      width: 300px;
      padding: 10px;
      padding: auto;
      position: relative;
      display: flex;
      flex-direction: column;

      .itemlist {
        overflow-y: scroll;
        overflow-x: none;
        width: 100%;
        max-height: 200px;
        .item{
          display: flex;
          padding: 8px 10px 8px 10px;
          margin-bottom: 5px;
          justify-content: space-between;
          color: white;
        }
      }

      .piecreate {
        margin-top: auto;
        align-self: end;
        & button{
          padding: 8px 20px;
          position: relative;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          text-decoration: none;
          background: $main-btn-color;
          outline: none;
          border: 1px solid white;
          border-radius: 8px;

          &:hover {
            box-shadow: 0px 0px 0px 7px rgb(255 255 255 / 10%);
          }
          &.hidden{
            display: none;
          }
        }
      }
    }
  }
}