@import '../../assets/styles/variables';


.mouse-pos {
  padding: 10px;
  border: none;
  border-radius: 50%;
  background: #777777;
  opacity: 0.5;
  outline: none;
  position: absolute;
}

.popup_modal {
  padding: 5px;
  border: none;
  background: #777777;
  outline: none;
  position: absolute;
  transition: all 0.3s ease-out;

}

.modal_form {
  padding: 5px;
  border: none;
  background: #777777;
  outline: none;
  position: absolute;
  transition: all 0.3s ease-out;
}